/.DS_Store
/Basic plots with Matplotlib.pdf
/Thuan2.py
/a datatime journey.pdf
/cars.csv
/cars1.csv
/case study .pdf
/certificate - data manipulation with pandas.pdf
/certificate - introduction to python.pdf
/certificate - python data science Toolbox (part1).pdf
/certificate - python fundamentals track.pdf
/certificate intermediate python.pdf
/certificate python fundamentals track.pdf
/chapter1-python dataframes.pdf
/chapter2.pdf
/chapter4.pdf
/comparison operators.pdf
/counting made easy.pdf
/dictionaries, python.pdf
/dive into python.pdf
/explicit indexes.pdf
/first.py
/functions_python.pdf
/hours.csv
/introduction and lists.pdf
/line plots.pdf
/matplot cheat sheet.pdf
/pandas.pdf
/python basics.pdf
/python data science toolbox part 1.pdf
/python list.pdf
/random numbers.pdf
/scatter plot.pdf
/using dictionaries.pdf
/visualizing your data - data manipulation with pandas.pdf
/while loop.pdf